<a href="https://colab.research.google.com/github/sandra9711/ml_assignment/blob/main/degrees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Node():
    def __init__(self, state, parent, action):
        self.state = state
        self.parent = parent
        self.action = action


class StackFrontier():
    def __init__(self):
        self.frontier = []

    def add(self, node):
        self.frontier.append(node)

    def contains_state(self, state):
        return any(node.state == state for node in self.frontier)

    def empty(self):
        return len(self.frontier) == 0

    def remove(self):
        if self.empty():
            raise Exception("empty frontier")
        else:
            node = self.frontier[-1]
            self.frontier = self.frontier[:-1]
            return node


class QueueFrontier(StackFrontier):

    def remove(self):
        if self.empty():
            raise Exception("empty frontier")
        else:
            node = self.frontier[0]
            self.frontier = self.frontier[1:]
            return node

In [ ]:
import pandas as pd 
pd.read_csv('movies.csv')
pd.read_csv('people.csv')

             id               name   birth
0             1       Fred Astaire  1899.0
1             2      Lauren Bacall  1924.0
2             3    Brigitte Bardot  1934.0
3             4       John Belushi  1949.0
4             5     Ingmar Bergman  1918.0
...         ...                ...     ...
577150  3870425  Jonathon Norcross     NaN
577151  3870441        Rob Gardner     NaN
577152  3870447      Igor Gorshkov     NaN
577153  3870465         Matt Posey     NaN
577154        3                NaN     NaN

[577155 rows x 3 columns]

In [ ]:
pd.read_csv('stars.csv')

        person_id  movie_id
0          844752     15724
1          869732     15724
2          194720     15724
3          650495     15724
4            8738     31458
...           ...       ...
359160    1466740    380027
359161    1463893    380027
359162     628552    380034
359163     177505    380034
359164    2347844    380034

[359165 rows x 2 columns]

In [ ]:

pd.read_csv('people.csv')

             id                      name   birth
0             1              Fred Astaire  1899.0
1             2             Lauren Bacall  1924.0
2             3           Brigitte Bardot  1934.0
3             4              John Belushi  1949.0
4             5            Ingmar Bergman  1918.0
...         ...                       ...     ...
772515  6214806             Victoria Drob     NaN
772516  6214836             Michael Yonan     NaN
772517  6214843         Regina J. Elliott     NaN
772518  6214847  Moonthinkal Cyril Wilson     NaN
772519       62                       NaN     NaN

[772520 rows x 3 columns]

In [ ]:
import csv
import sys
class Node():
    def __init__(self, state, parent, action):
        self.state = state
        self.parent = parent
        self.action = action


class StackFrontier():
    def __init__(self):
        self.frontier = []

    def add(self, node):
        self.frontier.append(node)

    def contains_state(self, state):
        return any(node.state == state for node in self.frontier)

    def empty(self):
        return len(self.frontier) == 0

    def remove(self):
        if self.empty():
            raise Exception("empty frontier")
        else:
            node = self.frontier[-1]
            self.frontier = self.frontier[:-1]
            return node


class QueueFrontier(StackFrontier):

    def remove(self):
        if self.empty():
            raise Exception("empty frontier")
        else:
            node = self.frontier[0]
            self.frontier = self.frontier[1:]
            return node
 

# Maps names to a set of corresponding person_ids
names = {}

# Maps person_ids to a dictionary of: name, birth, movies (a set of movie_ids)
people = {}

# Maps movie_ids to a dictionary of: title, year, stars (a set of person_ids)
movies = {}


def load_data(directory):
    """
    Load data from CSV files into memory.
    """
    # Load people
    with open(f"people.csv", encoding="utf-8") as f:
        reader = csv.DictReader(f)
        for row in reader:
            people[row["id"]] = {
                "name": row["name"],
                "birth": row["birth"],
                "movies": set()
            }
            if row["name"].lower() not in names:
                names[row["name"].lower()] = {row["id"]}
            else:
                names[row["name"].lower()].add(row["id"])

    # Load movies
    with open(f"movies.csv", encoding="utf-8") as f:
        reader = csv.DictReader(f)
        for row in reader:
            movies[row["id"]] = {
                "title": row["title"],
                "year": row["year"],
                "stars": set()
            }

    # Load stars
    with open(f"stars.csv", encoding="utf-8") as f:
        reader = csv.DictReader(f)
        for row in reader:
            try:
                people[row["person_id"]]["movies"].add(row["movie_id"])
                movies[row["movie_id"]]["stars"].add(row["person_id"])
            except KeyError:
                pass


def main():
    if len(sys.argv) > 2:
        SystemExit("Usage: python degrees.py [directory]")
    directory = sys.argv[1] if len(sys.argv) == 2 else "large"

    # Load data from files into memory
    print("Loading data...")
    load_data(directory)
    print("Data loaded.")

    source = person_id_for_name(input("Name: "))
    if source is None:
        sys.exit("Person not found.")
    target = person_id_for_name(input("Name: "))
    if target is None:
        sys.exit("Person not found.")

    path = shortest_path(source, target)

    if path is None:
        print("Not connected.")
    else:
        degrees = len(path)
        print(f"{degrees} degrees of separation.")
        path = [(None, source)] + path
        for i in range(degrees):
            person1 = people[path[i][1]]["name"]
            person2 = people[path[i + 1][1]]["name"]
            movie = movies[path[i + 1][0]]["title"]
            print(f"{i + 1}: {person1} and {person2} starred in {movie}")


def shortest_path(source, target):
    """
    Returns the shortest list of (movie_id, person_id) pairs
    that connect the source to the target.

    If no possible path, returns None.
    """
    start=Node(state=source,parent=None,action=None)
    frontier=QueueFrontier()
    frontier.add(start)

    explored=set()

    while True:
        if frontier.empty():
            return None

        node=frontier.remove()

        if node.state==target:
            movies=[]
            persons=[]
            while node.parent is not None:
                movies.append(node.action)
                persons.append(node.state)
                node=node.parent
            movies.reverse()
            persons.reverse()
            fnl=[]
            for i in range(len(movies)):
                fnl.append((movies[i],persons[i]))
            return fnl
        explored.add(node.state)

        for (movie_id,person_id) in neighbors_for_person(node.state):
            if not frontier.contains_state(person_id) and person_id not in explored:
                frontier.add(Node(state=person_id,parent=node,action=movie_id))
            
    # TODO
    raise NotImplementedError


def person_id_for_name(name):
    """
    Returns the IMDB id for a person's name,
    resolving ambiguities as needed.
    """
    person_ids = list(names.get(name.lower(), set()))
    if len(person_ids) == 0:
        return None
    elif len(person_ids) > 1:
        print(f"Which '{name}'?")
        for person_id in person_ids:
            person = people[person_id]
            name = person["name"]
            birth = person["birth"]
            print(f"ID: {person_id}, Name: {name}, Birth: {birth}")
        try:
            person_id = input("Intended Person ID: ")
            if person_id in person_ids:
                return person_id
        except ValueError:
            pass
        return None
    else:
        return person_ids[0]


def neighbors_for_person(person_id):
    """
    Returns (movie_id, person_id) pairs for people
    who starred with a given person.
    """
    movie_ids = people[person_id]["movies"]
    neighbors = set()
    for movie_id in movie_ids:
        for person_id in movies[movie_id]["stars"]:
            neighbors.add((movie_id, person_id))
    return neighbors


if __name__ == "__main__":
    main()

Loading data...
Data loaded.
Name: Tom Hanks
Name: Kevin Bacon
Which 'Kevin Bacon'?
ID: 102, Name: Kevin Bacon, Birth: 1958
ID: 9323132, Name: Kevin Bacon, Birth:
Intended Person ID: 102
1 degrees of separation.
1: Tom Hanks and Kevin Bacon starred in Apollo 13